#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on boot
    start load_touch

on property:sys.usb.config=fastboot
    start load_touch

service load_touch /vendor/bin/load_touch.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
