<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.XT2113_3.lineage">

    <overlay
        android:targetPackage="com.android.systemui"
        android:requiredSystemPropertyName="ro.boot.hardware.sku"
        android:requiredSystemPropertyValue="XT2113-3"
        android:priority="150"
        android:isStatic="true" />
</manifest>
